.collectionPage {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  .collectionHeroSection {
    .collectionHeroTitle {
      font-family: Simplon Norm;
      font-size: 60px;
      font-weight: 400;
      line-height: 72px;
      letter-spacing: 1px;
      text-align: center;
      width: 100%;
    }
    .collectionHeroDescription {
      width: 100%;
      max-width: 695px;
      margin: 0 auto;
      font-family: Simplon Norm;
      font-size: 22px;
      font-weight: 400;
      line-height: 40px;
      text-align: center;
    }
  }
  .collectionsWrapper {
    .collectionHeadBar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      border-bottom: 1px solid #e5e5e5;
      border-top: 1px solid #e5e5e5;

      .countAndToggle {
        display: flex;
        align-items: center;
        gap: 10px;
        .items {
          font-family: Simplon Norm;
          font-size: 18px;
          font-weight: 700;
          line-height: 40px;
          text-align: left;
          color: #252020;
        }
        .filterText {
          font-family: Adobe Caslon Pro;
          font-size: 16px;
          font-weight: 400;
          line-height: 40px;
          text-align: right;
          color: #888792;
          cursor: pointer;
          transition: ease-in-out all 0.3s;
          text-decoration: underline #888792 1px;
        }
      }

      .filterBtn {
        display: none;
      }
      .recommended {
      }
    }
    .collectionAndFilterWrapper {
      display: grid;
      grid-template-columns: 1fr 4fr auto;
      grid-gap: 10px;
      transition: ease-in-out all 0.3s;
      &.filterHide {
        transition: ease-in-out all 0.3s;
        grid-template-columns: auto;
      }
    }
  }
}
@media (max-width: 768px) {
  .collectionPage {
    .collectionHeroSection {
      .collectionHeroTitle {
        font-family: Simplon Norm;
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: center;
        margin-bottom: 20px;
      }
      .collectionHeroDescription {
        font-family: Simplon Norm;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    .collectionsWrapper {
      .collectionHeadBar {
        padding: 10px;
        .countAndToggle {
          display: none;
        }
        .filterBtn {
          width: 100%;
          display: block;
          font-family: Simplon Norm;
          font-size: 14px;
          font-weight: 700;
          line-height: 16.8px;
          text-align: center;
          color: #252020;
        }
        .recommended {
          width: 100%;
          text-align: center;
        }
      }
      .collectionAndFilterWrapper {
        grid-template-columns: auto;
        grid-gap: 0;
        .collectionFilter {
          display: none;
        }
      }
    }
  }
}
