.sidebar {
  .checkbox {
    border-bottom: #e5e5e5 1px solid;
    display: flex;
    padding: 20px 0;
    input[type="checkbox"] {
      width: 20px;
      height: 20px;
      color: #4d4d4d;
      cursor: pointer;
    }
    label[for="customize"] {
      font-weight: 600;
      text-transform: uppercase;
      margin: auto 4px;
    }
  }
}
